@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the OptionsTracker</h1>
    <p>Get started with the   <a href="/Trades">Portfolio Summary </a>page.</p>
</div>
